.btn {
    display: block;
    font-size: .95rem;
    background-color: #000;
    width: 10rem;
    padding: .5rem 0;
    margin: 1rem auto;
    border: .15rem solid #000;
    border-radius: .55rem;
    cursor: pointer;
    transition: 200ms ease-in;
}

.btn:hover {
    background-color: #414141;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}